extends layout
block title
  title 首页
block content
  .container-fluid
    .sidebar
    .content
      .row
        .col-md-6
          .card
            img.card-img-top(src='')
            .card-body
              h4.card-title 电影标题
              p.card-desc 电影描述
block script
  script.
    $(function(){
      $('.card-title').on('click',function(){
        console.log(111)
      })
    })
